html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

body {
  background-color: black;
  display: flex;
  flex-don: row;
}

.button {
  background-color: black;
  color: white;
  border: none;
  transition: 0.3s;
  font-family: 'Rubik';
}

.button:hover {
  background-color: #ed4115;
}
