canvas {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}

.reading {
    position: absolute;
    top: 10vh;
    left: 10vw;
    width: 70vw;
    color: rgb(6, 16, 49);
}

/* DATE */
h2 {
    font-family: 'Arvo';
    color: rgb(252, 150, 176);
    margin-bottom: 0;
    padding-bottom: 0;
}

/* TITLE */
h1 {
    font-family: 'Jost';
    margin-top: 0;
    padding-top: 0;
}

/* RESPONSE */
p {
    font-family: 'Jost';
}
